.contact-page {
    background-image: url('https://media.istockphoto.com/photos/beautiful-sky-with-white-clouds-picture-id182412483?k=20&m=182412483&s=612x612&w=0&h=axQ1-d_KRgxHIxDYQPG-yQuxjeIjXiQLDE8x5ltD-_0=');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
}

.content p{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
    font-size: 20px;
    
}

.content h2{

    font-size: 30px;
}


.content{
    display: grid;
    grid-template-columns: auto;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contact-container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .box{
    position: relative;
    padding: 20px;
    display: flex;
    flex-flow: column;
}

.icon{
    width: 45px;
    height: 45px;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.message-form{
    height: 25rem;
    width: 20rem;
    padding: 2rem;
    background: white;
}
/* input[type='textarea'],
input[type='text']{
        position: relative;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
    } */
.submit-btn{
    border: 2px solid black;
    color: turquoise;
}